@{
    ViewBag.Title = "CalculaDistancia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Confirmar Envio ?</h2>
<div>
    <h4>Dados do Envio</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Origem
        </dt>

        <dd>
            @ViewBag.Origem
        </dd>

        <dt>
            Destino
        </dt>

        <dd>
            @ViewBag.Destino
        </dd>

        <dt>
            Distancia
        </dt>

        <dd>
            @ViewBag.Distancia
        </dd>

        <dt>
           Duracao
        </dt>

        <dd>
            @ViewBag.Duracao
        </dd>

    </dl>
</div>

