@{
    Layout = "~/Views/Shared/_Home.cshtml";
}


<main>

    <!-- Slider Area Start-->
    <div class="slider-area slider-bg ">
        <div class="slider-active dot-style">
            <div class="single-slider d-flex align-items-center slider-height ">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-9 ">
                            <div class="hero__caption">
                                <h1 data-animation="fadeInLeft" data-delay=".3s">Supply Chain Project </h1>
                                <p data-animation="fadeInLeft" data-delay=".6s">Conheça nossos seviços para otimizar seus ganhos</p>
                                <!-- Slider btn -->
                                <div class="slider-btns">
                                    <!-- Hero-btn -->
                                    <a data-animation="fadeInLeft" data-delay="1s" class="btn radius-btn" href="@Url.Action("Create","Usuarios")">Registre-se</a>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="hero__img d-none d-lg-block f-right">
                                <img src="~/Content/assets/img/hero/hero_right.png" alt="" data-animation="fadeInRight" data-delay="1.5s">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Slider Shape -->
        <div class="slider-shape d-none d-lg-block">
            <img class="slider-shape1" src="~/Content/assets/img/hero/top-left-shape.png" alt="">
            <img class="slider-shape2" src="~/Content/assets/img/hero/right-top-shape.png" alt="">
            <img class="slider-shape3" src="~/Content/assets/img/hero/left-botom-shape.png" alt="">
        </div>
        <!-- slider Social -->
        <div class="slider-social d-none d-md-block">
            <a href="https://www.facebook.com/supply.chain.7921" target="_blank"><i class="fab fa-facebook-f"></i></a>
            <a href="https://twitter.com/supply_project" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="https://www.youtube.com/channel/UC3Gn3f1Va9Ed2ptHSFQXVQQ" target="_blank"><i class="fas fa-play"></i></a>
            <a href="https://www.instagram.com/supplychainproject/" target="_blank"><i class="fab fa-instagram"></i></a>
        </div>

    </div>
    <!-- Slider Area End -->
    <!--Services Area Start -->
    <div class="services-area section-padding30 fix">
        <div class="container">
            <!-- Section Tittle -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-tittle text-center mb-100">
                        <span>O melhor serviço</span>
                        <h2>O que nós temos para você</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="services-wrapper mb-50">
                        <div class="single-services">
                            <div class="services-icon">
                                <span><img src="~/Content/assets/img/icon/001-warehouse.png"/></span>
                            </div>
                            <div class="services-cap">
                                <h3><a href="#">Armazens</a></h3>
                                <p>Sistemas de armazenamento acompanhado por gráficos e tabelas, com descricoes detalhada de todos os produtos</p>
                                <a href="#" class="get-btn"><i class="ti-arrow-right"></i> Saiba Mais</a>
                            </div>
                        </div>
                        <div class="services-shape">
                            <span>.01</span>
                            <img src="~/Content/assets/img/gallery/shape-services.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="services-wrapper mb-50">
                        <div class="single-services">
                            <div class="services-icon">
                                <span ><img src="~/Content/assets/img/icon/002-truck.png" /></span>
                            </div>
                            <div class="services-cap">
                                <h3><a href="#">Transporte</a></h3>
                                <p>Futuro sistema integrado de gestao de entregas para entregas mais estudas e pensadas</p>
                                <a href="#" class="get-btn"><i class="ti-arrow-right"></i> Saiba Mais</a>
                            </div>
                        </div>
                        <div class="services-shape">
                            <span>.02</span>
                            <img src="~/Content/assets/img/gallery/shape-services.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="services-wrapper mb-50">
                        <div class="single-services">
                            <div class="services-icon">
                                <span><img src="~/Content/assets/img/icon/003-choices.png" /></span>
                            </div>
                            <div class="services-cap">
                                <h3><a href="#">Pedidos e Demandas</a></h3>
                                <p>Sistema de recebimentos de demandas e envios de pedidos para uma maior comodidade </p>
                                <a href="#" class="get-btn"><i class="ti-arrow-right"></i> Saiba Mais</a>
                            </div>
                        </div>
                        <div class="services-shape">
                            <span>.03</span>
                            <img src="~/Content/assets/img/gallery/shape-services.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Services Area End -->
</main>