
@{
    ViewBag.Title = "ExibirPedidoPorRegiao";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

<div class="container-fluid">
    <h2>
        Distribuição dos Pedidos por Armzens:<br />

    </h2>
    <div class="container-fluid">
        <iframe class="ocupacaoFrame" src="https://app.powerbi.com/view?r=eyJrIjoiZWNhYzU3MDYtZGVkMC00MTI3LTg2ZTAtZDRhM2I4ODYyMjhhIiwidCI6ImQ0ZWM1MDg2LTBlY2EtNDQ3Yy04NjE5LTA5ZDY0YzExZTMzZCJ9" frameborder="0" allowFullScreen="true"></iframe>
    </div>


</div>
<div class="container-fluid">



</div>
@Html.ActionLink("Voltar para Lista", "Index")


