
@{
    ViewBag.Title = "ExibirEstatisticas";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

<div class="container-fluid">
    <h2>
        Informações sobre os pedidos: <br />

    </h2>
    <div class="container-fluid">
        <iframe class="ocupacaoFrame" src="https://app.powerbi.com/view?r=eyJrIjoiMGNlZmNkN2MtYjRhMi00OTk5LWI3YjEtODExZWEyYmI2OTk5IiwidCI6ImQ0ZWM1MDg2LTBlY2EtNDQ3Yy04NjE5LTA5ZDY0YzExZTMzZCJ9" frameborder="0" allowFullScreen="true"></iframe>
    </div>
    
</div>
<div class="container-fluid">



</div>
@Html.ActionLink("Voltar para Lista", "IndexEncerrado")

