
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<IFRAME name=Facebook src=https://www.facebook.com/supply.chain.7921 width=500 height=400 frameborder=0 scrolling=auto>
</IFRAME>
