table.table.fornecedor {
    border: solid 2px #fff;
    width: 85%;
    text-align: center;
    margin: auto;
    float: left;
    margin-top: 14px;
}

table.table.avaliacao {
    border: solid 2px #fff;
    width: 15%;
    text-align: center;
    margin: auto;
    float: right;
    margin-top: 14px;
}